.searchbar {
    height: 25px;
    width: 300px;
    background-image: -webkit-linear-gradient(180deg,#131317,#19191f);
    border: none;
    padding: 10px 10px 10px 20px;
    margin-right: 20px;
    border-radius: 3px;
    color: white;
}

input:focus {
    outline: 1px solid rgb(47, 47, 49);
}